<%#DO NOT ADD ANY REFERENCE TO CURRENT_USER HERE AS DEVISE WILL THROW AN ERROR.%>
<p class="room-message__container other-user-message">
		<div class="message-user">
				<%=message.user.email + ":" if message.content%>
		</div>
		<div class="message-content">
				<%= message.content %>
		</div>
		<div class="message-timestamp">
				<%= message.created_at.to_s.split(" +")[0]%>
		</div>
</p>