<div class="notification__container request-join">
		<h1 class="notification__title">Received Join Request for
				<%=link_to notification.second_target.title, main_app.game_path(notification.second_target), class: "uppercase tracking-wide"%>
		</h1>
		<h2 class="notification__actor text-sm">from
				<%=notification.actor.email%>
		</h2>
</div>