<div class="notification__container request-left-game">
		<h1 class="notificaition__title">You were kicked from
				<%=link_to notification.second_target.title, main_app.game_path(notification.second_target), class: "uppercase tracking-wide"%>
		</h1>
		<h2 class="notification__actor text-sm">
				by
				<%=notification.actor.email%>.
		</h2>
</div>