<div class="notification__container request-left-game">
		<h1 class="notificaition__title">Participant left from
				<%=link_to notification.second_target.title, main_app.game_path(notification.second_target)%>
		</h1>
		<h2 class="notification__actor">
				<%=notification.actor.email%> left.
		</h2>
</div>