<div class="notification__container request-withdraw">
		<h1 class="notificaition__title">Request Withdrawn for
				<%=link_to notification.second_target.title, main_app.game_path(notification.second_target)%>
		</h1>
		<h2 class="notification__actor">Request withdrawn by:
				<%=notification.actor.email%>
		</h2>
</div>