

<div class="glide">

  <div class="glide__track" data-glide-el="track">

    <ul class="glide__slides">

        <% @featured_games.each do |game| %>
          <li class="glide__slid">
            <%= render 'game_card', game:game %>
          </li>
        <% end %>
      
    </ul>
  </div>

</div>


