<div class="jumbotron bg-dual-tone-reverse">
		<div class="jumbotron-logo">
        <%= link_to root_path do %>
				  <%= image_tag("master_fav_icon.png", class:' mx-auto pl-4') %>
        <% end %>
		</div>
		<div class="flex flex-col mb-12">
				<h2 class="font-bold font-heading text-lg uppercase text-alpha-black">The Missing</h2>
				<h2 class="font-bold font-heading text-5xl uppercase transform -skew-y-6 mb-3">Buddy</h2>
				<h3 class="font-bold font-heading text-base uppercase">For your Favourite Games</h3>
		</div>
		<div class="mb-12">
				<%= link_to "Log In", new_user_session_path, class:"block italic text-5xl font-bold text-shadow-brand mb-4" if !user_signed_in?%>
		</div>
		<div class="jumbotron-action">
				<%= link_to "Sign Up", new_user_registration_path, class:"btn btn-default font-bold" if !user_signed_in?%>
		</div>
</div>