.jumbotron {
  @apply flex justify-center items-center;
  padding-top: 3.5625rem;
  height: 30rem;
}

.jumbotron-logo, .jumbotron-action {
  @apply absolute;
}

.jumbotron-logo {
  top: rem(70px)
}

.jumbotron-action {
  top: 23.1512rem;
}

// card component
.card-container {
  width: rem(320px);
  height: rem(202px);
}

.card {
  font-family: "Arimo", sans-serif;
  line-height: 1.4;
  border-radius: 0;
  display:inline-block;
  color: #707070;
  width:100%;
  padding:rem(10px);
  background-color:white;
  box-shadow: 3px 3px 6px rgba(0,0,0,.10);
}

.card-img {
  width: rem(48px);
  height: auto;
  border-radius: 50%;
  float: right; // it is okay to float iamge, but not layout
}

.card-title {
  color: #0A0A0A;
  font-size: rem(18px)
}

.card-subtitle {
  font-size: 1rem;
}

.card-body {
  letter-spacing: .35px;
  font-size: 14px;
  margin: rem(15px) rem(18px);
  .icon {
    margin-right:rem(10px)
  }
}

.card-footer {
  color: #0A0A0A;
  font-size: rem(18px);
}

// glide theme
ul.glide__slides {
  padding: 5px 0;
}
// gallery 
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-caption {
  @apply font-heading font-bold;
  color:#707070;
  font-size: 15px;

  @media md {
    font-size: 16px;
  }

  @media lg {
    font-size: 18px; 
  }
}