.jumbotron {
  @apply flex justify-center items-center;
  padding-top: 3.5625rem;
  height: 30rem;
}

.jumbotron-logo,
.jumbotron-action {
  @apply absolute;
}

.jumbotron-logo {
  top: rem(70px);
}

.jumbotron-action {
  top: 23.1512rem;
}

// nav
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: rem(90px);
  width: 100%;
  padding: 30px 3%;
  margin: 0 auto;
}

.navbar-text_primary {
  color: black;
}

.navbar-text_secondary {
  color: #707070;
}

.navbar-logo {
  width: rem(57px);
  height: rem(56px);
}

.navbar-items {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: rem(14px);

  &.right {
    margin-right: 1%;
    margin-left: auto;
  }

  > .navbar-item:not(:last-child) {
    margin-right: rem(15px);
  }

  @screen md {
    font-size: rem(15px);
  }
}

.navbar-menu-icon {
  display: inline-block;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  cursor: pointer;
}

%is_closed {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.navbar-menu {
  position: absolute;
  padding: 15px;
  top: 90px;
  right: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.09);
  width: 200px;
.is_open {
  visibility: visible;
  opacity: 1;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar-menu-items > * {
  font-size: rem(14px);
  color: black;
  display: block;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 4px;
  line-height: 2.2;
}

// card component
.card-container {
  width: rem(320px);
  height: rem(202px);
}

.card {
  font-family: 'Arimo', sans-serif;
  line-height: 1.4;
  border-radius: 0;
  display: inline-block;
  color: #707070;
  width: 100%;
  padding: rem(10px);
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

.card-img {
  width: rem(48px);
  height: auto;
  border-radius: 50%;
  float: right; // it is okay to float iamge, but not layout
}

.card-title {
  color: #0a0a0a;
  font-size: rem(18px);
}

.card-subtitle {
  font-size: 1rem;
}

.card-body {
  letter-spacing: 0.35px;
  font-size: 14px;
  margin: rem(15px) rem(18px);
  .icon {
    margin-right: rem(10px);
  }
}

.card-footer {
  color: #0a0a0a;
  font-size: rem(18px);
}

// glide theme
ul.glide__slides {
  padding: 5px 0;
}

.glide_nav_container {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  margin: 7px;

  > .glide__bullets {
    bottom: auto;
    > .glide__bullet {
      background-color: #fff;
      border: 1px solid #0a0a0a;
    }
    > .glide__bullet--active {
      background-color: #000;
    }
  }
}

// gallery
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  height: rem(163px);
  width: rem(150px);
  padding: rem(5px);
  margin: rem(25px) auto;

  @screen md {
    height: rem(230px);
    width: rem(270px);
    padding: 5px 30px;
  }
}

.gallery-caption {
  @apply font-heading font-bold;
  color: #707070;
  font-size: 15px;

  @screen md {
    font-size: 16px;
  }

  @screen lg {
    font-size: 18px;
  }
}

.gallery-img {
  margin: 0 auto;
  height: rem(138px);
  width: auto;

  @screen md {
    height: rem(200px);
    width: rem(260px);
  }
}
