body {
  @apply font-body text-black;
}

// containers
.wrapper {
  margin: 0 auto;
  padding: 0 rem(30px);
  max-width: 1239px;

  @screen lg {
    padding: 0 rem(80px);
  }
}

.section {
  margin: rem(40px) auto;
  padding: rem(3px) 0;

  @screen lg {
    margin: rem(72px) auto;
    padding: rem(3px) 0;
  }
}


.section-title {
  color: #4a5568;
  font-size: rem(18px);
  font-weight: bold;
  font-family: "Titillium Web", serif;
  margin-bottom: rem(15px);
  @screen lg {
    font-size: rem(20px);
    margin-bottom: rem(25px)
  }
}

.section-subtitle {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Titillium Web", serif;
  color: #000;
  border-bottom: 1px solid #4a5568;
  @screen lg {
    font-size: rem(18px);
  }
}

// Input
input,
select,
textarea,
button {
  @apply border border-solid border-black text-gray-700 shadow font-body bg-white;
}

input[type="email"] , input[type="password"] {
  min-width: 50px;
  @apply border-0 border-b w-full h-8;
}

.field label {
  @apply font-bold font-body inline-block;
}

a {
  @apply text-accent;
  &:hover,
  &:active {
    color: lighten(#ff8200, 12%);
  }
}

button,
.btn {
  line-height: 2.5rem;
  text-align: center;
  @apply w-32 h-10 cursor-pointer transition duration-100 inline-block;
  &:hover,
  &:active {
    color: lighten(#ff8200, 12%);
  }
}

.btn-default {
  @apply bg-black text-white;

  &:hover,
  &:active {
    @apply bg-gray-800;
  }
}

.btn-sm {
  width: rem(116px);
  height: rem(27px);
  line-height: rem(27px);
}

// image gallery 


