.notifications {
		padding: 10px;
		margin: 20px;
		border-radius: 3px;
		box-sizing: border-box;

		.heading {
				padding: 20px;
				margin-bottom: 10px;
				box-sizing: border-box;
		}

		.notification-group {
				padding: 10px;
				margin-bottom: 20px;

				.group-title {
						padding: 5px 0;
						color: #999;
						border-bottom: 1px solid #eee;
				}
		}

		.notification {
				margin: 0;
				padding: 10px;
				color: #999;
				box-sizing: border-box;

				a {
						color: #dd6b20;
				}

				a:hover {
						color: #f6ad55;
						letter-spacing: 0.03rem;
				}

				&.unread {
						color: #444;
						border-bottom: 1px solid #f6ad55;

						.media-heading {
								font-weight: bold;
								font-size: 14px;
						}

						a {
								color: #222;
								text-decoration: underline;
						}
				}


				.media-content {
						p:last-child {
								margin-bottom: 0;
						}
				}

				.user-avatar {
						img {
								width: 32px;
								height: 32px;
								border-radius: 120px;
						}
				}

				.media-right {
						min-width: 100px;
						color: #AAA;
						font-size: 13px;
				}
		}
}