<!-- Search bar. Confirm whether search is for any field or for a specific field -->

<p>Sort By:</p>

<form action='/categories'>
	<label for="date">Date</label>
	<input type="text" name="date" class="sortdate-flatpick" >

	<label for="category">Category</label>
	<input type="text" name="category" class="sortcategory-flatpick" >

</form>

<% javascript_pack_tag 'category' %>