<% flash.each do | name, msg| %>
<div class="flash_message <%= name == 'danger' ? 'flash_danger' : "flash_success" %>">
  <p>
    <%= msg %>
  </p>
   <span class="flash_message-close_btn" >
        <i class="fas fa-times-hexagon close-icon"></i>
   </span>
</div>
<% end %>