<div class="notification-message__container hidden bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 font-body flex flex-col justify-center items-center" role="alert">
		<p class="notification-message__header font-bold font-heading tracking-wider py-1">Notification Alert</p>
		<p class="notification-message__content"></p>
</div>