<div class="notification-message__container hidden bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
		<p class="notification-message__header font-bold"></p>
		<p class="notification-message__content">Notification Message</p>
</div>